torch
pigmento
anthropic~=0.28.0
openai~=0.27.2
transformers
tqdm
pandas
tokenizers
smartdict
oba
numpy
google-generativeai  # for gemini service
einop  # for phi model
pytest  # for phi model
tiktoken  # for glm model
flash-attn  # for phi model
sentencepiece
peft
scikit-learn
refconfig
unitok
sentence_transformers  # for e5 model
prettytable
polars~=1.4.1