torch
pigmento
anthropic
openai==0.28.0
transformers
tqdm
pandas
tokenizers==0.12.1
smartdict
oba
numpy
google-generativeai  # for gemini service
einop  # for phi model
pytest  # for phi model
tiktoken  # for glm model
flash-attn  # for phi model